@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    font-family: 'Roboto', sans-serif;
}
.card {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    background-color: #CBCBCB;
}

.github-card {
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
    margin-left: 20px;
    align-content: center;
}

#project-cards {
    font-family: 'Roboto', sans-serif;
    align-content: center;
    align-items: center;
}

.contact-item {
    margin-right: 10px;
    margin-left: 10px;
}

.navbar {
    margin-bottom: 10px;
}
body {
    padding-top: 50px;
  }