@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100%;
}
.card {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    background-color: #CBCBCB;
}

.github-card {
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
    margin-left: 20px;
    align-content: center;
}

#project-cards {
    font-family: 'Roboto', sans-serif;
    align-content: center;
    align-items: center;
}

.contact-item {
    margin-right: 10px;
    margin-left: 10px;
}

.navbar {
    margin-bottom: 10px;
    //background-color: #750F0F;
}
body {
    padding-top: 50px;
    margin-bottom: 60px;
  }
a {
    color: #750F0F;
}


.footer {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 60px;
  background-color: #ffffff;  
}