<!-- Contact Section -->
<section id="projects" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Projects</h2>
                <p>These are some of the Projects I have made over the years. </p>
                <ul style="list-style: none">
                    {% for project in site.projects %}
                    <li class="col-md-4">
                        <h3><a href={{project.url}}>{{project.title}}</a></h3>
                        <p>{{project.description}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>